<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='usuarios.css') }}">
    <title>Usuarios</title>

    <style>
        

    </style>

</head>
<body>
    
    <center><h1>Usuarios Registrados</h1></center>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario[0] }}</td>
            <td>{{ usuario[1] }}</td>
            <td>{{ usuario[2] }}</td>
            <td>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
